@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600&family=League+Spartan:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Palette */
  --color-white: #FFFFFF;
  --color-space-black: #070724;
  --color-space-gray-dark: #38384F;
  --color-space-gray: #838391;
  --color-blue: #419EBB;
  --color-gold: #EDA249;
  --color-purple: #6f2ed6;
  --color-orange: #D14C32;
  --color-red: #D83A34;
  --color-rust: #CD5120;
  --color-teal: #1ec2a4;
  --color-bright-blue: #2d68f0;

  /* Primary color - using blue as primary */
  --primary-color: var(--color-blue);

  /* Typography */
  --font-antonio: 'Antonio', sans-serif;
  --font-spartan: 'League Spartan', sans-serif;

  /* Font Variables */
  --font-h1: 500 5rem/1.2875 var(--font-antonio);
  /* 80px / 103px line */
  --font-h2: 500 2.5rem/1.3 var(--font-antonio);
  /* 40px / 52px line */
  --font-h3: 700 0.75rem/2.083 var(--font-spartan);
  /* 12px / 25px line */
  --font-h4: 700 0.6875rem/3.636 var(--font-spartan);
  /* 11px / 25px line */
  --font-body: 400 0.875rem/1.786 var(--font-spartan);
  /* 14px / 25px line */

  /* Base styles */
  font: var(--font-body);
  color: var(--color-space-gray);
  background-color: var(--color-space-black);

  /* Base styles */
  margin: 0;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1 {
  font: var(--font-h1);
  letter-spacing: 0;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font: var(--font-h2);
  letter-spacing: -0.09375rem;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font: var(--font-h3);
  letter-spacing: 0.1625rem;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font: var(--font-h4);
  letter-spacing: 0.0625rem;
  /* 1px */
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
}

p {
  color: var(--color-space-gray);
  margin: 0;
  font: var(--font-body);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f8fafc;
    /* slate-50 */
    background-color: #0f172a;
    /* slate-900 */
  }
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

a:hover {
  color: #60a5fa;
  /* Slightly lighter blue on hover */
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-antonio);
  color: inherit;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
}

/* Apply Spartan font to all elements by default */
* {
  font-family: var(--font-spartan);
}